MILESTONE 3-6/node-red_flow.json
[{"id":"48ba7234.05561c","type":"pythonshell in","z":"8b08766.1090388","x":720,"y":240,"wires":[[]]},{"id":"d0c60dc8.c71ff","type":"watson-tone-analyzer-v3","z":"8b08766.1090388","name":"tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/38e6f3b6-30f9-46b7-bf07-4de6695a9c85","x":390,"y":480,"wires":[["3a1a2adc.01cd16"]]},{"id":"bcbf1cc9.d735b","type":"inject","z":"8b08766.1090388","name":"","topic":"","payload":"i am happy","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["d0c60dc8.c71ff","989c1b9d.319898"]]},{"id":"cb46494e.b39668","type":"inject","z":"8b08766.1090388","name":"","topic":"","payload":"i am in fear","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["d0c60dc8.c71ff","989c1b9d.319898"]]},{"id":"ed642135.4d3ad","type":"inject","z":"8b08766.1090388","name":"","topic":"","payload":"i am disgusted","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["d0c60dc8.c71ff","989c1b9d.319898"]]},{"id":"29c60a20.9f1c86","type":"inject","z":"8b08766.1090388","name":"","topic":"","payload":"i am angry","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["d0c60dc8.c71ff","989c1b9d.319898"]]},{"id":"f0492a69.e67d08","type":"inject","z":"8b08766.1090388","name":"","topic":"","payload":"i am very sad","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":460,"wires":[["d0c60dc8.c71ff","989c1b9d.319898"]]},{"id":"a7ced8fc.db5a08","type":"debug","z":"8b08766.1090388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":580,"wires":[]},{"id":"3a1a2adc.01cd16","type":"function","z":"8b08766.1090388","name":"return higest","func":"var ang=[msg.response.document_tone.tone_categories[0].tones[0].score,\"angery\"]\nvar disgust=[msg.response.document_tone.tone_categories[0].tones[1].score,\"disgust\"]\nvar fear=[msg.response.document_tone.tone_categories[0].tones[2].score,\"fear\"]\nvar joy=[msg.response.document_tone.tone_categories[0].tones[3].score,\"joy\"]\nvar sad=[msg.response.document_tone.tone_categories[0].tones[4].score,\"sadness\"]\nvar largest=ang\nif(ang[0]>disgust[0] && ang[0]>fear[0] && ang[0]>joy[0] && ang[0]>sad[0]){\n    largest=ang\n}\nelse if(disgust[0]>ang[0] && disgust[0]>fear[0] && disgust[0]>joy[0] &&  disgust[0]>sad[0]){\n    largest=disgust\n}\nelse if(fear[0]>ang[0] && fear[0]>disgust[0] && fear[0]>joy[0] && fear[0]>sad[0]){\n    largest=fear\n}\nelse if(joy[0]>ang[0] && joy[0]>disgust[0] && joy[0]>fear[0] && joy[0]>sad[0] ){\n    largest=joy\n}\nelse{\n    largest=sad\n}\n\nmsg.payload=largest[1]\nreturn msg;\n\n","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["a7ced8fc.db5a08","876819f6.750498"]]},{"id":"d223ebac.87d018","type":"twitter in","z":"8b08766.1090388","twitter":"","tags":"covi19,covid,coronavirus,lockdown,work from home","user":"false","name":"","inputs":0,"x":110,"y":100,"wires":[[]]},{"id":"989c1b9d.319898","type":"natural-language-understanding","z":"8b08766.1090388","name":"","categories":false,"limitcategories":"","concepts":false,"maxconcepts":"10","doc-emotion":false,"doc-emotion-target":"watson","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"10","keyword":false,"keyword-emotion":false,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"10","limittextcharacters":"200","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.eu-gb.natural-language-understanding.watson.cloud.ibm.com/instances/b13acac7-0c4f-42ee-85ac-7c3de15555c1","x":440,"y":340,"wires":[["59cb478b.8fdf18"]]},{"id":"340b765b.4d28ba","type":"debug","z":"8b08766.1090388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","x":470,"y":140,"wires":[]},{"id":"5ff406ae.c9a228","type":"watson-natural-language-classifier","z":"8b08766.1090388","name":"","mode":"classify","language":"en","classifier":"","collections-off":true,"service-endpoint":"","x":500,"y":80,"wires":[[]]},{"id":"59cb478b.8fdf18","type":"function","z":"8b08766.1090388","name":"retun sentiment","func":"var sentiment=msg.features.sentiment.document.label\nmsg.features=sentiment\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":220,"wires":[["340b765b.4d28ba","876819f6.750498"]]},{"id":"14e3fb52.d5fe15","type":"cloudant out","z":"8b08766.1090388","name":"","cloudant":"d3862987.e31f48","database":"tweet","service":"_ext_","payonly":true,"operation":"insert","x":850,"y":420,"wires":[]},{"id":"876819f6.750498","type":"function","z":"8b08766.1090388","name":"","func":"msg.payload={\n    SENTIMENT:msg.features,\n    EMOSION:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["14e3fb52.d5fe15"]]},{"id":"d3862987.e31f48","type":"cloudant","z":"","host":"3e3e8353-caa6-41fe-98b7-1fc87b330591-bluemix.cloudantnosqldb.appdomain.cloud","name":""}]
